# WordPress
web/cms
web/.htaccess

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/upgrade

!web/app/mu-plugins/disallow-indexing.php

# Composer
vendor/*
!vendor/.gitkeep
!vendor/.htaccess

/nbproject/private/